<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <style type="text/css">
    #pagination {
      width: 900px;
      margin: 30px auto;
    }
    #grid {
      width: 900px;
      margin: 30px auto;
    }
  </style>
  <script src="bower_components/angularjs/angular.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
  <script src="app.js"></script>
  <!-- Backend Mocks -->
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="mock-backend.js"></script>
</head>
<body ng-controller="TableController">
  <div id="grid"
       class="grid"
       ui-grid="gridOptions"
       ui-grid-pagination></div>
  <nav id="pagination">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous" ng-click="gridApi.pagination.previousPage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="page in [] | range:gridApi.pagination.getTotalPages()"
          ng-click="gridApi.pagination.seek(page + 1)"
          ng-class="{active: gridOptions.paginationCurrentPage == page + 1}"><a href="#">{{page + 1}}</a></li>
      <li>
        <a href="#" aria-label="Next" ng-click="gridApi.pagination.nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li>
      <h1>{{gridOptions.paginationPageSizes}}</h1>
        <select class="form-control"
                ng-model="gridOptions.paginationPageSize"
                ng-options="option for option in gridOptions.paginationPageSizes">
          <option>{{option}}</option>
        </select>
      </li>
      <li>
        Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}
      </li>
    </ul>
  </nav>
</body>
</html>
