<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <!-- inject:css -->
  <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/bower_components/angularjs/angular.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/app.mocks.js"></script>
  <!-- endinject -->
</head>
<body ng-controller="SearchController">
  <h1>Search</h1>

  <form id="searchForm" method="get" name="searchForm" ng-submit="doSearch()">
    <input type="text"
           maxlength="100"
           size="30"
           name="searchTerm"
           autocomplete="off"
           ng-keyup="doSearch()"
           ng-model="searchTerm"
           placeholder="Search">
    <input type="submit" value="Suchen" name="search">
  </form>

  <h5 id="searchSuggestion" ng-if="searchSuggestion">
    <span>Did you mean </span>
    <a href="{{searchSuggestionLink}}">{{searchSuggestion}}</a>
    <span>?</span>
  </h5>

  <h3 ng-if="searchResults">Search Results</h3>
  <ul ng-repeat="result in searchResults">
    <li>{{result.title}}</li>
  </ul>

</div>

<div class="visualClear"></div>

</body>
</html>
