<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-mocks.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="SearchController">
  <input type="text" ng-model="search" placeholder="Enter search"/>
  <p>
    Search: <span>{{search}}</span>
  </p>
  <div>
    <h3>Results</h3>
    <ul>
      <li ng-repeat="item in results">
        {{ item.title }}
      </li>
    </ul>
  </div>
</body>
</html>
