<!doctype html>
<html ng-app="FlowchartApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
  <script src="angular.js"></script>
</head>
<body>

  <div id="simple" ng-controller="FlowchartController">
    <p>{{flowchart}}</p>
    <ul>
      <li ng-repeat="node in flowchart.nodes">{{node}}</li>
    </ul>
    <input ng-init="node='test'" ng-model="node" >
    <button ng-click="addNode(node);">ADD NODE</button>
  </div>

</body>
</html>
