<h1>{{vm.name}}</h1>

<h3>Embed (HTML Standard Markup)</h3>
<embed src="test.pdf" width="800" height="500" type='application/pdf'>

<h3>PDF Viewer (Angular)</h3>
<!--<img src="{{vm.preview}}" alt="PDF Preview" />-->
<div id="my-pdf-container"></div>

<pdf-viewer
  delegate-handle="my-pdf-container"
  url="vm.pdfUrl"
  scale="1"
  show-toolbar="true"></pdf-viewer>

<h3>Einzelbilder</h3>
<button class="btn btn-default" ng-click="vm.prevSlide()">prev</button>
<button class="btn btn-default" ng-click="vm.nextSlide()">next</button>

<div class="slider" style="margin: 1em; border: 1px solid #ccc;">
  <img ng-repeat="slide in vm.slides" class="slide"
       ng-hide="$index !== vm.currentIndex" ng-src="{{slide}}">
</div>
