<h1>{{vm.name}}</h1>

<h3>Embed (HTML Standard Markup)</h3>
<embed src="test.pdf" width="800px" height="500px" type='application/pdf'>

<h3>PDFjs (Mozilla: + 1.3 MB)</h3>
<iframe src="http://mozilla.github.io/pdf.js/web/viewer.html?file=http://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf"
width="800px"
height="500px" />

<h3>Einzelbilder</h3>
<button class="btn btn-default" ng-click="vm.prevSlide()">prev</button>
<button class="btn btn-default" ng-click="vm.nextSlide()">next</button>

<div class="slider" style="margin: 1em; border: 1px solid #ccc;">
  <img ng-repeat="slide in vm.slides" class="slide"
       ng-hide="$index !== vm.currentIndex" ng-src="{{slide}}">
</div>
