<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"/>
  <style type="text/css">
    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #grid1 {
      width: 95%;
      margin: 20px auto;
    }
  </style>
  <script src="bower_components/angularjs/angular.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
  <script src="app.js"></script>
  <!-- Backend Mocks -->
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="mock-backend.js"></script>
</head>
<body ng-controller="TableController">
  <div id="grid1"
       class="grid"
       ui-grid="gridOptions"
       ui-grid-pagination></div>
   <p>Current page: {{ gridApi1.pagination.getPage() }} of {{ gridApi1.pagination.getTotalPages() }}</p>
  <button type="button" class="btn btn-success" ng-click="gridApi1.pagination.previousPage()">
  previous page
  </button>
  <button type="button" class="btn btn-success" ng-click="gridApi1.pagination.nextPage()">
  next page
  </button>
</body>
</html>
