<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <!-- inject:css -->
  <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/todomvc-common/base.css">
  <link rel="stylesheet" href="/bower_components/todomvc-app-css/index.css">
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/bower_components/angularjs/angular.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/restangular/dist/restangular.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/app.mocks.js"></script>
  <!-- endinject -->
</head>
<body ng-controller="JobsController">

  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <form id="todo-form" ng-submit="addTodo()">
        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
      </form>
    </header>
    <section id="main" ng-show="todos.length" ng-cloak>
      <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list">
        <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
            <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
            <button class="destroy" ng-click="removeTodo(todo)"></button>
          </div>
          <form ng-submit="saveEdits(todo, 'submit')">
            <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
          </form>
        </li>
      </ul>
    </section>
  </section>
  <input ng-model="jobTitle" />
  <button ng-click="createJob(jobTitle)">Add Job</button>
  <h3>Jobs</h3>
  <ul ng-repeat="job in jobs">
    <li>
      {{job.title}} ({{job.id}})
      <button ng-click="deleteJob(job)">x</button>
    </li>
  </ul>
</body>
</html>
