<h1>Plone 5</h1>
<div class="alert alert-success">
  <b>Well done</b> All good!
  <span class="glyphicon glyphicon-ok"></span>
</div>
<div class="table-responsive">
  <table ng-controller="MainCtrl" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Commit</th>
        <th>Failures</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="build in data.builds">
        <td>{{build.number}}</td>
        <td>
          <span class="label"
                ng-class="{'label-success': build.result=='SUCCESS', 'label-danger': build.result=='FAILURE', 'label-default': build.result=='ABORTED'}">{{build.result}}</span>
          <span ng-if="build.result==none" class="label label-info">IN PROGRESS</span>
        </td>
        <td></td>
        <td>
          <span ng-if="build.result==none" class="glyphicon glyphicon-refresh"></span>
          <span ng-if="build.result=='SUCCESS'" class="text-success glyphicon glyphicon-ok"></span>
          <span ng-if="build.result=='ABORTED'" class="text-success glyphicon glyphicon-minus"></span>
          <span ng-if="build.result=='FAILURE'"
                class="badge">{{build.actions[8].failCount + build.actions[9].failCount}}
          </span>
        </td>
        <td>
          <a href="{{build.url}}">Link</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">jenkins</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
-->
