<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <!-- inject:css -->
  <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/node_modules/dragular/dist/dragular.css">
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/bower_components/angularjs/angular.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="/node_modules/dragular/dist/dragular.js"></script>
  <script src="/app/app.js"></script>
  <!-- endinject -->
</head>
<body>
  <div class="container" ng-controller="Basic">
    <div class='tableRow'>
      <div class='containerVertical'>
        <div ng-repeat="item in items" class='exampleRow'>
          <div class="row-handle">Row {{::$index}}</div>
          <div class="exampleRow exampleCell containerNested">
            <div ng-repeat="item in item.items" class="exampleCell">{{item.content}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tableRow">
      <div class='containerVertical'>
        <pre>
            <div>Items:
              <br/>{{items | json}}</div>
        </pre>
      </div>
    </div>
  </div>
</body>
</html>
