<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <h1>Recursive Templates</h1>
  <div ng-app="app" ng-controller='AppCtrl'>
    <!-- Template -->
    <script type="text/ng-template" id="navigationTree">
      {{ node.title }}
      <ul ng-if="node.children">
        <li ng-repeat="node in node.children" ng-include="'navigationTree'">
        </li>
      </ul>
    </script>
    <!-- Start Recursion -->
    <ul>
      <li ng-repeat="node in tree" ng-include="'navigationTree'"></li>
    </ul>
  </div>
</body>
</html>
