<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <script src="bower_components/angularjs/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- Backend Mocks -->
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="mock-backend.js"></script>
</head>
<body ng-controller="TreeController">
  <h4>Tree</h4>
  <span>Current Path: {{current_path}}</span>
  <ul>
    <li ng-repeat="item in tree">
      <a href="#" ng-click="loadTreeBranch(item.path)">{{item.title}}</a>
    </li>
  </ul>
  <pre>{{tree|json}}</pre>
</body>
</html>
