<!DOCTYPE html>
<html ng-app="AbnTest">
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
  <script src="app.js"></script>
  <!-- Backend Mocks -->
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="mock-backend.js"></script>

</head>
<body ng-controller="AbnTestController" style="margin:20px">
  <button ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Add Branch</button>
  <div style="width:250px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
    <span ng-if="doing_async">...loading...</span>
    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
  </div>
  <div style="width:300px" class="alert alert-warning">{{ output }}</div>
</body>
</html>
